*/.idea
*/target/
*/*.iml
*/out

OSI/osi_slides.aux
OSI/osi_slides.blg
OSI/osi_slides.log
OSI/osi_slides.nav
OSI/osi_slides.out
OSI/osi_slides.pdf
OSI/osi_slides.snm
OSI/osi_slides.toc

Thesis/main-blx.bib
Thesis/main.aux
Thesis/main.bbl
Thesis/main.blg
Thesis/main.log
Thesis/main.out
Thesis/main.run.xml
Thesis/main.toc
Thesis/main.pdf
